.header {
  display: flex;
  justify-content: space-between;
  border: 1 solid black;
}
.app,
* {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
}
.logo {
  width: 200px;
  margin: 10px;
  padding: 10px;
}
.nav-items {
  font-size: 24px;
  padding-right: 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 400px;
  position: relative;
  background-color: #f0f0f0;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  /* align-items: ; */
  margin: auto;
  flex-direction: row;
  align-items: center;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
.timeAndStars {
  display: flex;
  justify-content: space-between;
}
.bottomTouch {
  position: absolute;
  bottom: 0%;
}
.time {
  position: absolute;
  bottom: 5%;
}
.stars {
  position: absolute;
  bottom: 1%;
}
.body {
  align-self: center;
  flex-wrap: wrap;
}
.filter-btn {
  margin: 10px;
  padding: 5px 5px;
  background-color: orange;
  color: black;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: rgb(255, 225, 0);
  transform: scale(0.9) ease;
}

.shimmer-card {
  margin: 5px;
  padding: 5px;
  height: 400px;
  width: 200px;
  align-items: flex-start;
  background-color: #f0f0f0;
}
